<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>用户画像</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Ionicons -->
  <link rel="stylesheet" href= "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href={{url_for("static",filename="dist/css/adminlte.min.css")}}>
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href={{url_for("static",filename="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")}}>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a href={{url_for("Main_Search")}} class="nav-link">主页</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href={{url_for("show_user_location",hashtag='all',attr='age1')}} class="nav-link">用户地理分布</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href={{url_for('show_hashtag_location',hashtag='all')}} class="nav-link">主题地理分布</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form" method='POST'>
	   	{{form.query}}
		{{form.submit1}}
      {{form.type}}
	</form>
  </nav>
</div>

  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href={{url_for("Main_Search")}} class="brand-link">
      <img src={{url_for("static",filename="dist/img/twitterlogo.jpg")}} alt="Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">推特用户画像</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
      </nav>
      <!-- /.sidebar-menu -->

    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">用户属性地理分布</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">主页</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">

        <div class="row">
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

            <!-- solid sales graph -->
            <div class="card bg-info-gradient">
              <div class="card-header no-border">
                <div class="card-tools">
				 <form class="hashtag_form" method='POST' id="hashtag_form">
					<i>
					hashtag</i>
					{{hashtag_form.Hashtag}}
                   {{hashtag_form.attr}}
					{{hashtag_form.submit2}}
					</form>
                  <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="charts" style="height: 1000px; width:1300px"></div>
              </div>
              <!-- /.card-body -->
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>

<!-- ./wrapper -->

<!-- jQuery -->
<script src={{url_for("static",filename="plugins/jquery/jquery.min.js")}}></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- jQuery ba resize-->
<script src={{url_for("static",filename="jquery.ba-resize.min.js")}}></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="//cdn.bootcss.com/echarts/3.2.0/extension/bmap.min.js"></script>
<script src="https://api.map.baidu.com/api?v=2.0&ak=mRSskfEb6v7RsPU2edVYIEY60r6gOUYu"></script>
<!-- Bootstrap 4 -->
<script src={{url_for("static",filename="plugins/bootstrap/js/bootstrap.bundle.min.js")}}></script>
<!-- Bootstrap WYSIHTML5 -->
<script src={{url_for("static",filename="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")}}></script>
<!-- AdminLTE App -->
<script src={{url_for("static",filename="dist/js/adminlte.js")}}></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src={{url_for("static",filename="dist/js/pages/dashboard.js")}}></script>
<script src={{url_for("static",filename="echarts.js")}}></script>
<script src={{url_for("static",filename="bmap.js")}}></script>
<script type="text/javascript">

    option = {
        animation: false,
        bmap: {
            center: [80.13066322374, 30.240018034923],
            zoom: 1,
            roam: true
        },
              bmap: {
        center: [-2.114129, 37.550339],
        zoom: 1,
        roam: true,
        mapStyle: {
            styleJson: [
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#044161"
                        }
                    },
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#0049a4"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#064f85"
                        }
                    },
                    {
                        "featureType": "railway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#004981"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#005b96",
                            "lightness": 1
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "labels",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#004981"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#00508b"
                        }
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#056197",
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "subway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "manmade",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "on"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "labels",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#029fd4"
                        }
                    },
                    {
                        "featureType": "building",
                        "elementType": "all",
                        "stylers": {
                            "color": "#1a5787"
                        }
                    },
                    {
                        "featureType": "label",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "on"
                        }
                    }
            ]
        }
    },
        visualMap: {
            show: false,
            top: 'top',
            min: 0,
            max: 5,
            seriesIndex: 0,
            calculable: true,
            inRange: {
                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
            }
        },
        series: [{
            type: 'heatmap',
            coordinateSystem: 'bmap',
            data: {{data}},
            pointSize: 5,
            blurSize: 8
        }]
    };
    var tweet_location_chart = echarts.init(document.getElementById('charts'))
    tweet_location_chart.setOption(option)
	$('#charts').resize(function () {
	    tweet_location_chart.resize();})

</script>

</body>
</html>